.modal {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 48px 56px;
  .enterAccount {
    font-weight: 700;
    font-size: 24px;
  }
  .notFocusPlaceholder {
    position: relative;
    top: 54px;
    left: 12px;
    font-size: 14px;
    width: 220px;  //был 55px//может плохо кликаться по инпуту т.к. по всей ширине занимает (пересмотри потом этот момент)
    transition: top 0.2s;
  }
  .onFocusPlaceholder {
    position: relative;
    top: 34px;
    left: 12px;
    font-size: 12px;
    font-weight: 500;
    color: #A7A7A7FF;
    transition: top 0.2s;
  }
  .wrapperInput {
    position: relative;
  }
  input {
    width: 416px;
    height: 56px;
    background-color: rgba(249, 249, 250, 1);
    border-radius: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #BFC4C9FF;
    padding: 19px 45px 19px 12px;
    font-size: 14px;
    color: #363636;
  }
  .loginInput {
    margin-top: 16px;
  }
  .passwordInput {
    margin-top: 20px;
  }
  :focus {
    outline: none;
  }
  .loginInputWrong {
    margin-top: 16px;
    border-bottom-color: #F42C4FFF;
  }
  .passwordInputWrong {
    margin-top: 20px;
    border-bottom-color: #F42C4FFF;
  }
  .forgetEntryData {
    font-size: 12px;
    font-weight: 500;
    color: #A7A7A7FF;
    margin: 20px 0 32px 12px;
    cursor: pointer;
  }
  .wrongAuthData {
    display: flex;
    flex-direction: column;
    margin: 20px 0 16px 12px;
    font-size: 12px;
    font-weight: 500;
    .recoverData {
      color: #F42C4FFF;
      cursor: pointer;
    }
  }
  .registrationLink {
    margin-top: 16px;
    display: flex;
    align-items: center;
    span {
      color: #A7A7A7FF;
    }
    p {
      margin: 0 12px 0 16px;
      font-weight: 600;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
  .registrationLinkWrapper {
    display: flex;
    align-items: center;
  }
  .wrapperIcon {
    position: absolute;
    bottom: 15px;
    left: 90%;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
.modalLoading {
  composes: modal;
  filter: blur(4px);
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 18px;
  }
  .modal {
    margin-top: 2%;
    width: 288px;
    height: 456px;
    padding: 24px 16px;
    input {
      width: 256px;
    }
    .passwordInput {
      margin-top: 16px;
    }
    .forgetEntryData {
      margin: 20px 0 32px 0;
    }
    .registrationLink {
      flex-direction: column;
      align-items: flex-start;
      span {
        font-size: 15px;
      }
      p {
        margin: 0 12px 0 0;
        font-size: 12px;
      }
    }
    .wrapperIcon {
      bottom: 15px;
      left: 87%;
    }
  }
}