.baseMenu {
  width: 279px;
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  p {
    padding: 16px 0 0 20px;
    cursor: pointer;
  }
  span {
    color: #A7A7A7;
  }
  .arrowMenu {
    width: 14px;
    height: 0px;
    position: relative;
    top: 1%;
    left: 80%;
    cursor: pointer;
  }
}
.menu {
  composes: baseMenu;
  filter: blur(0px);
}

.menuLoading {
  composes: baseMenu;
  filter: blur(4px);
}

.allBooksHeader {
  padding: 16px 0 0 20px;
}
.allBooksHeaderHide {
  display: none;
}
.allBooksHide {
  display: none;
}
.booksHeader {
  border-bottom: #F83600 solid 1px;
  height: 36px;
  width: 255px;
}
.extraInformation {
  margin-top: 42px;
}
.wrapperBottomBlock {
  display: none;
}
.spanLine {
  display: none;
}

@media screen and (max-width: 1110px)  {
  .baseMenu {
    position: absolute;
    z-index: 3;
    width: 502px;
    background-color: #F9F9FA;
    top: 40px;
    transform: translateX(-200%);
    padding: 15px;
    border: 2px solid;
    border-radius: 1%;
    transition: 0.1ms;
    height: 442px;
    overflow-y: scroll;
    overflow-x: hidden;
    .arrowMenu {
      left: 45%;
    }
  }
  .wrapperBottomBlock {
    display: block;
    margin: 32px 0 52px 0px;
  }
  .spanLine {
    border: #BFC4C9 1px solid;
    left: -3%;
    position: relative;
    width: 106%;
    height: 2px;
    margin-top: 50px;
    display: block;
  }
}
@media screen and (max-width: 768px)  {
  .baseMenu {
    width: 288px;
    .arrowMenu {
      left: 80%;
    }
  }
  .spanLine {
    left: -5%;
    width: 111%;
  }
}