.menu {
  width: 279px;
  height: 824px;
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  p {
    padding: 16px 0 0 20px;
  }
  .arrowMenu {
    width: 14px;
    height: 8px;
    position: relative;
    top: 1%;
    left: 80%;
    cursor: pointer;
  }
}
.allBooksHeader {
  padding: 16px 0 0 20px;
}
.allBooksHeaderHide {
  display: none;
}
.allBooksHide {
  display: none;
}

.booksHeader {
  border-bottom: #F83600 solid 1px;
  height: 36px;
  width: 255px;
}

.extraInformation {
  margin-top: 42px;
}
@media screen and (max-width: 1110px)  {
  .menu {
    position: absolute;
    z-index: 3;
    width: 325px;
    background-color: #a0a0a0;
    top: 40px;
    transform: translateX(-200%);
    padding: 15px;
    border: 2px solid;
    border-radius: 1%;
    transition: 0.1ms;
  }
}