.wrapperMiddleSection {
  display: flex;
  justify-content: center;
}

.textWrapper {
  margin-top: 62px;
  width: 825px;
  h4 {
    margin-top: 32px;
  }
  p {
    margin: 16px 0 0 30px;
  }
  .subParagraph {
    margin: 16px 0 0 60px;
  }
  .subSubParagraph {
    margin: 16px 0 0 90px;
  }
}

@media screen and (max-width: 1110px)  {
  .textWrapper {
    margin-top: 32px;
    width: 640px;
  }
}

@media screen and (max-width: 768px)  {
  .textWrapper {
    margin-top: 24px;
    width: 288px;
  }
}