.globalWrapper {
  display: flex;
  justify-content: center;
  width: 1110px;
}
.wrapperBookDescr {
  display: block;
}
.bookLocation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  background-color: #F9F9FA;
  margin: 42px 0;
  color: #A7A7A7;
  font-weight: 400;
  font-size: 14px;
}
.wrapperSlider {
  width: 445px;
  height: 696px;
  float: left;
  margin-right: 30px;
}
.bookHeader {
  margin-bottom: 24px;
}
.textAuthor {
  color: #A7A7A7;
  font-size: 18px;
  font-weight: 700;
}
.aboutBook {
  margin-top: 32px;
  line-height: 24px;
}
.rank {
  margin-top: 42px;
}
.grayLine {
  display: block;
  width: 350px;
  background-color: #EBEBEB;
  height: 1px;
  margin: 16px 0;
}
.score {
  margin-left:24px;
}
.starWrapper {
  display: flex;
  align-items: center;
  span {
    margin-left: 24px;
    font-size: 18px;
    font-weight: 700;
  }
}
.extraDescrHeader {
  margin-top: 62px;
}
.extraDescrWrapper {
  margin-top: 16px;
  display: flex;
}
.extraDescrWrapperFirstBlock {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 329px;
  height: 184px;
  span {
    font-weight: 400;
  }
  p {
    font-weight: 600;
    color: #A7A7A7;
  }
}
.paragraphBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.spanBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.extraDescrWrapperSecondBlock {
  margin-left: 140px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 635px;
  height: 184px;
  span {
    font-weight: 400;
  }
  p {
    font-weight: 600;
    color: #A7A7A7;
  }
}
.reviewersWrapper {
  display: flex;
  align-items: center;
  color: #727272;
  margin: 16px 0;
}
.reviewersWrapperHide {
  display: none;
}
.arrowMenu {
  width: 14px;
  height: 8px;
  position: relative;
  top: -1.5%;
  left: 10%;
  cursor: pointer;
}
.reviewersPadding {
  margin-left: 12px;
}

.reviewersDescr {
  margin-top: 16px;
  width: 730px;
}
.btnStyles {
  width:350px;
  height:52px;
  background:linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
  font-size:16px;
  font-weight:600;
  color:white;
  margin:32px 0 62px 0;
}

@media screen and (max-width: 1110px) {
  .wrapper {
    width: 768px;
  }
  .extraDescrWrapperFirstBlock {
    flex-wrap: nowrap;
    width: 460px;
  }
  .extraDescrWrapperSecondBlock {
    flex-wrap: nowrap;
    margin-left: 50px;
  }
  .arrowMenu {
    left: 15%;
  }
}

@media screen and (max-width: 768px) {
  .bookLocation {
    margin-top: 10px;
    font-size: 12px;
  }
  .wrapperBookDescr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bookHeader {
    font-size: 16px;
  }
  .textAuthor {
    font-size: 14px;
  }
  .btnStyles {
    width: 250px;
  }
  .wrapper {
    width: 320px;
  }
  .bookHeader {
    margin-top: 30px;
    text-align: center;
  }
  .aboutBook {
    font-size: 14px;
  }
  .extraDescrWrapper {
    flex-wrap: wrap;
  }
  .extraDescrWrapperFirstBlock {
    font-size: 14px;
  }
  .extraDescrWrapperSecondBlock {
    margin: 25px 0 0 0;
    font-size: 14px;
  }
  .reviewersDescr {
    width: 320px;
    font-size: 14px;
  }
  .arrowMenu {
    left: 35%;
  }
}