.wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
  display: flex;
  font-family: 'Montserrat', serif;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-top: 5%;
    color: #FFFFFF;
  }
  .modal {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 528px;
    height: 466px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 48px 56px;
    .enterAccount {
      font-weight: 700;
      font-size: 24px;
    }
    .notFocusPlaceholder {
      position: relative;
      top: 70px;
      left: 12px;
      font-size: 14px;
      width: 55px;
    }
    .onFocusPlaceholder {
      position: relative;
      top: 55px;
      left: 12px;
      font-size: 12px;
      font-weight: 500;
      color: #A7A7A7FF;
    }
    input {
      width: 416px;
      height: 56px;
      margin-top: 36px;
      background-color: rgba(249, 249, 250, 1);
      border-radius: 3px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom-color: #BFC4C9FF;
      padding: 19px 12px;
      font-size: 14px;
      color: #363636;
    }
    :focus {
      outline: none;
    }
    .forgetEntryData {
      font-size: 12px;
      font-weight: 500;
      color: #A7A7A7FF;
      margin: 20px 0 0 12px;
    }
  }

}



