@import "variables/global";
@import "reset";
.app {
  min-height: 100vh;
  font-family: var(--font-family-main);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}