@import "reset";
.app {
  min-height: 100vh;
  font-family: Montserrat, serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  button {
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    button:active {
      box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
  }
}
.wrapperMiddleSection {
  display: flex;
  justify-content: space-between;
  min-height: 500px;
}

@media screen and (max-width: 1110px) {
  .app {
    .wrapperMiddleSection {
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .app {
    align-items: center;
  }
}