.bookCard {
  margin-bottom: 16px;
  padding: 24px 16px;
  width: 817px;
  height: 218px;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 12px;
}
.bookImg {
  width: 120px;
  height: 170px;
}
.wrapperElemsImg {
  float: right;
  width: 649px;
  height: 160px;
}
.bookName {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  span {
    color: red;
  }
}
.bookAuthor {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
}
.wrapperBtnStars {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnStyles {
  width:166px;
  height:40px;
  background:linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
  font-size:12px;
  font-weight:600;
  color:white;
}

@media screen and (max-width: 1110px) {
  .bookCard {
    margin-bottom: 16px;
    padding: 16px 16px;
    width: 640px;
    height: 240px;
  }
  .wrapperElemsImg {
    width: 464px;
    height: 152px;
  }
}
@media screen and (max-width: 768px) {
  .bookCard {
    width: 288px;
    height: 190px;
    padding: 16px 8px;
  }
  .bookImg {
    width: 70px;
    height: 100px;
  }
  .wrapperElemsImg {
    width: 186px;
    height: 114px;
  }
  .bookName {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
  }
  .bookAuthor {
    margin-top: 3px;
    font-size: 12px;
    line-height: 18px;
  }
  .wrapperBtnStars {
    margin-top: 3px;
    flex-direction: column;
  }
  .btnStyles {
    width:186px;
    margin-top: 8px;
  }
}