.bookCard {
  margin-bottom: 16px;
  padding: 24px 16px;
  width: 817px;
  height: 218px;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 12px;
}
.bookImg {
  width: 120px;
  height: 170px;
}
.wrapperElemsImg {
  float: right;
  width: 649px;
  height: 160px;
}
.bookName {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}
.bookAuthor {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
}
.wrapperBtnStars {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}