.wrapper {
  float: right;
  display: flex;
  width: 825px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  min-height: 650px;
}

@media screen and (max-width: 1110px) {
  .wrapper {
    width: 640px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 288px;
    justify-content: center;
  }
}