.header {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 58px;
  margin: 32px auto 0;
  align-items: center;
}
.avatarText {
  width: 150px;
  font-weight: 600;
}

.logoWrapper {
  display: flex;
  .btnModal {
    display: none;
  }
  .logo{
    display: flex;
    align-items: center;
  }
  .headerName {
    padding-left: 99px;
  }
}

.authorisation {
  display: flex;
  align-items: center;
  width: 300px;
}

@media screen and (max-width: 1110px) {
  .header {
    width: 768px;
  }
  .logoWrapper {
    .logo {
      display: none;
    }
    .btnModal {
      display: flex;
      background-color: white;
      border-radius: 0px;
      box-shadow: 0 0 0px rgba(0,0,0,0);
    }
    .headerName {
      padding-left: 24px;
    }
  }
  .authorisation {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: 320px;
    margin: 24px auto 0;
  }
  .logoWrapper {
    .btnModal {
      margin-left: 16px;
    }
    .headerName {
      font-size: 18px;
      line-height: 28px;
    }
  }
}