.header {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 58px;
  margin: 32px auto 0;
  align-items: center;
}

.logoWrapper {
  display: flex;
  .logo{
    width: 194px;
    height: 40px;
  }
  .headerName {
    padding-left: 99px;
  }
}

.authorisation {
  width: 300px;
}