.globalWrapper {
  display: flex;
  justify-content: center;
  max-width: 1110px;
  min-height: 500px;
}
.wrapperBookDescr {
  display: block;
}
.bookLocation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  background-color: #F9F9FA;
  margin: 42px 0;
  color: #A7A7A7;
  font-weight: 400;
  font-size: 14px;
}
.wrapperSlider {
  width: 445px;
  height: 696px;
  float: left;
  margin-right: 30px;
}
.bookHeader {
  margin-bottom: 24px;
}
.textAuthor {
  color: #A7A7A7;
  font-size: 18px;
  font-weight: 700;
}
.aboutBook {
  margin-top: 32px;
  line-height: 24px;
  height: 450px;
}

@media screen and (max-width: 1110px) {
  .wrapper {
    width: 768px;
    margin-left: 130px;
  }
  .aboutBook {
    height: initial;
  }
}

@media screen and (max-width: 768px) {
  .bookLocation {
    margin-top: 10px;
    font-size: 12px;
  }
  .wrapperBookDescr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bookHeader {
    font-size: 16px;
  }
  .textAuthor {
    font-size: 14px;
  }
  .wrapper {
    margin-left: 0;
    width: 320px;
  }
  .bookHeader {
    margin-top: 30px;
    text-align: center;
  }
  .aboutBook {
    font-size: 14px;
  }
}