.footer {
  width: 1110px;
  height: 56px;
  margin: 62px auto 0;
  border-top: #BFC4C9 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.socialWrapper {
  display: flex;
  width: 168px;
  justify-content: space-between;
}